<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Form</title>
</head>
<body>
<h1>Product Form</h1>
<form th:action="@{/submitProduct}" th:object="${product}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />

    </div>
    <div>
        <label for="price">Price:</label>
        <input type="text" id="price" th:field="*{price}" />
    </div>
    <div>
        <label for="available">Available:</label>
        <input type="checkbox" id="available" th:field="*{available}" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>